<h1><%= ENV['APP_NAME'] %></h1>
<p>Hi <%= @user.name %>,</p>
<p>
Welcome to <%= ENV['APP_NAME'] %>! Click on the link below to activate your account:
</p>
<%= link_to "Activate", generate_url("#{ENV["ORIGIN"]}/activate", :activation => @user.activation_token, :email => @user.email) %>
